.tag-cloud-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}

.tag-cloud-links a {
  font-size: 18px;
  font-weight: bold;
  opacity: 0.85;
  color: #08309e;
  margin: 0 5px;
}





/*
-----------------------------------------------------------------------------
-------------------------------D-----A-----R-----K---------------------------
-----------------------------------------------------------------------------
*/





html[data-theme='dark'] .tag-cloud-links a {
  color: #20C20E;
}
